In [1]:
import simulated_data as sim

### TODO

### Create a dataset

In [2]:
# set seed > 0 to enforce seeding
# set save=True to save result to file
data = sim.make_fake_frequencies(2, 500, seed=0, save=False)
data.head()

   POS      A0      C0      G0      T0      A1      C1      G1      T1
0    0  0.2595  0.0000  0.7405  0.0000  0.7495  0.0000  0.2505  0.0000
1    1  0.0000  0.7365  0.0000  0.2635  0.0000  0.4245  0.0000  0.5755
2    2  0.0000  0.5165  0.4835  0.0000  0.0000  0.1716  0.8284  0.0000
3    3  0.8738  0.1262  0.0000  0.0000  0.2070  0.7930  0.0000  0.0000
4    4  0.0000  0.1192  0.0000  0.8808  0.0000  0.6446  0.0000  0.3554

### Convert between formats
1. Collapse population

In [3]:
# if column names are in format e.g. EUR_A use pop_is_suffix=False
data_long = sim.freq_collapse_pop_to_column(data, pop_is_suffix=True)
data_long.head()

   POS       A       C       G       T POP
0    0  0.2595  0.0000  0.7405  0.0000   0
0    0  0.7495  0.0000  0.2505  0.0000   1
1    1  0.0000  0.7365  0.0000  0.2635   0
1    1  0.0000  0.4245  0.0000  0.5755   1
2    2  0.0000  0.5165  0.4835  0.0000   0

2. Revert to original

In [4]:
# Note this will automatically make the population a suffix (due to merge)
data_original = sim.freq_one_row_per_position(data_long)
data_original.head()

   POS      A0      C0      G0      T0      A1      C1      G1      T1
0    0  0.2595  0.0000  0.7405  0.0000  0.7495  0.0000  0.2505  0.0000
1    1  0.0000  0.7365  0.0000  0.2635  0.0000  0.4245  0.0000  0.5755
2    2  0.0000  0.5165  0.4835  0.0000  0.0000  0.1716  0.8284  0.0000
3    3  0.8738  0.1262  0.0000  0.0000  0.2070  0.7930  0.0000  0.0000
4    4  0.0000  0.1192  0.0000  0.8808  0.0000  0.6446  0.0000  0.3554

### Simulate perfect genomes
Perfect genomes are defined as those containing only the most frequent allele for given position in the given ancestry.

In [13]:
perfect_G = sim.simulate_perfect_genomes(["0","1"], data)
perfect_G.keys()

dict_keys([('0', '0'), ('0', '1'), ('1', '0'), ('1', '1')])

### Simulate genomes from distributions

In [12]:
sim_genome = sim.simulate_random_genomes([["0", "1"], ["1", "0"], ["0", "0"], ["1", "1"]], data)
sim_genome.keys()

dict_keys(['01.0', '10.0', '00.0', '11.0'])

### Simulate admixed genomes
Not yet implemented